@import '../globalSass/variable.scss';
.bs-tab {
  .tab-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .tab-link {
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: rgba(38, 38, 40, 0.2);
    font-family: $font-bold;
    @include transition(all, 0.5s, ease);
    position: relative;
    margin-right: 3rem;
    padding-bottom: 1.4rem;
    max-width: max-content;
    cursor: pointer;
    outline: 0;
    @media only screen and (max-width: $media-mobile) {
      margin-right: 2rem;
      padding-bottom: 0.4rem;
      font-size: 1.8rem;
      line-height: 2.1rem;
    }
    &:after {
      content: '';
      width: 0;
      height: 0.5rem;
      background: $clr-primary;
      position: absolute;
      bottom: 0;
      left: 0;
      @include border-radius(0.5rem);
      @include transition(all, 0.5s, ease);
      @media only screen and (max-width: $media-mobile) {
        height: 0.3rem;
      }
    }
  }
}
