@font-face {
  font-family: 'Poppins-Bold';
  src: url('../../../public/font/Poppins-Bold.ttf');
  src: url('../../../public/font/Poppins-Bold.ttf?#iefix')
      format('embedded-opentype'),
    url('../../../public/font/Poppins-Bold.svg#Poppins-Bold') format('svg'),
    url('../../../public/font/Poppins-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../../../public/font/Poppins-SemiBold.ttf');
  src: url('../../../public/font/Poppins-SemiBold.ttf?#iefix')
      format('embedded-opentype'),
    url('../../../public/font/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg'),
    url('../../../public/font/Poppins-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../../../public/font/Poppins-Medium.ttf');
  src: url('../../../public/font/Poppins-Medium.ttf?#iefix')
      format('embedded-opentype'),
    url('../../../public/font/Poppins-Medium.svg#Poppins-Medium') format('svg'),
    url('../../../public/font/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../../../public/font/Poppins-Regular.ttf');
  src: url('../../../public/font/Poppins-Regular.ttf?#iefix')
      format('embedded-opentype'),
    url('../../../public/font/Poppins-Regular.svg#Poppins-Regular') format('svg'),
    url('../../../public/font/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('../../../public/font/Poppins-Light.ttf');
  src: url('../../../public/font/Poppins-Light.ttf?#iefix')
      format('embedded-opentype'),
    url('../../../public/font/Poppins-Light.svg#Poppins-Light') format('svg'),
    url('../../../public/font/Poppins-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
