@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/assets/font/Montserrat-Bold.eot');
  src: url('/assets/font/Montserrat-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/font/Montserrat-Bold.svg#Montserrat-Bold') format('svg'),
    url('/assets/font/Montserrat-Bold.ttf') format('truetype'),
    url('/assets/font/Montserrat-Bold.woff') format('woff'),
    url('/assets/font/Montserrat-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('/assets/font/Montserrat-SemiBold.eot');
  src: url('/assets/font/Montserrat-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/font/Montserrat-SemiBold.svg#Montserrat-SemiBold')
      format('svg'),
    url('/assets/font/Montserrat-SemiBold.ttf') format('truetype'),
    url('/assets/font/Montserrat-SemiBold.woff') format('woff'),
    url('/assets/font/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('/assets/font/Montserrat-Medium.eot');
  src: url('/assets/font/Montserrat-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/font/Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
    url('/assets/font/Montserrat-Medium.ttf') format('truetype'),
    url('/assets/font/Montserrat-Medium.woff') format('woff'),
    url('/assets/font/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/assets/font/Montserrat-Regular.eot');
  src: url('/assets/font/Montserrat-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/font/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
    url('/assets/font/Montserrat-Regular.ttf') format('truetype'),
    url('/assets/font/Montserrat-Regular.woff') format('woff'),
    url('/assets/font/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('/assets/font/Montserrat-Light.eot');
  src: url('/assets/font/Montserrat-Light.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/font/Montserrat-Light.svg#Montserrat-Light') format('svg'),
    url('/assets/font/Montserrat-Light.ttf') format('truetype'),
    url('/assets/font/Montserrat-Light.woff') format('woff'),
    url('/assets/font/Montserrat-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src: url('/assets/font/icomoon.eot?zig0fd');
  src: url('/assets/font/icomoon.eot?zig0fd#iefix') format('embedded-opentype'),
    url('/assets/font/icomoon.ttf?zig0fd') format('truetype'),
    url('/assets/font/icomoon.woff?zig0fd') format('woff'),
    url('/assets/font/icomoon.svg?zig0fd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-display: swap;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

