/* colors */

$clr-root: #ffffff;
$clr-base: #000000;
$clr-primary: #093966;
$clr-secondary: #EF4136;
$clr-bg: #1e1e1e;
$clr-icon: #ff6a71;

/*font family*/

// Poppins
$font-light: 'Poppins-Light'; //300
$font-regular: 'Poppins-Regular'; //400
$font-medium: 'Poppins-Medium'; //500
$font-bold: 'Poppins-Bold'; //900
$font-semiBold: 'Poppins-SemiBold'; //600

/* breakpoints */

// $media-xs: 576px;
// $media-sm: 768px;
// $media-sm-min: 767px;
// $media-tab: 992px;
// $media-md-min: 993px;
// $media-md: 1024px;
$media-mobile: 1023px;
// $media-lg: 1366px;
$media-xl: 1600px;
