/* @import "../../../styles/globalSass/variable.scss"; */
@import "../../styles/globalSass/variable.scss";
.partner {
  background-color: #ffffff;
}
.container {
  width: 100% !important;
  padding: 4rem 8rem;
  background-color: #fff;
  border-radius: 8px;
}
.mainHeading {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #000000;
  font-family: "Poppins-Bold";
  text-align: left;
}
.subHeading {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.7rem;
}
.sec-heading {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1rem;
}
p {
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: left;
}
.custom-two-column-container{
  display: flex;
  gap: 0px;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 30px;
}

.custom-column {
  flex: 1;
  text-align: center;
  background-color: #ebebeb;
  padding: 20px;
  border-radius: 0px;
  min-width: 50%;
}
.custom-column{
  min-width: 50%;
}
.custom-column1 img{
height: 100%;
}
.register-txt{
  padding-top:20px;
}
.associate-list {
  list-style: none;
  padding: 0;
}
.associate-list li {
  background-color: #fff;
  padding: 10px;
  margin: 8px 0;
  border-left: 5px solid #093966;
  text-align: left;
  font-size: 1.6rem;
}
.associate-title {
  font-weight: bold;
  color: #333;
}
.associate-description {
  color: #555;
}
.cta {
  text-align: left;
  margin-top: 20px;
  cursor: pointer;
}

.cta span {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #ef4136;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid;
}
.cta span:hover{
  background-color: #fff;
  color:#000;
  border: 1px solid;
}

.cta a:hover {
  background-color: #ffffff;
  color: #000000;
}

.contact {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
}

.contact span {
  color: #ef4136;
  font-weight: bold;
}
.associates-container {
  display: flex;
  gap: 20px;
  padding: 30px 0px;
}
.associate-box {
  background:#b9d9f6;
  padding: 20px;
  width: 25%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.associate-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.associate-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}
.associate-description {
  margin-top: 3px;
  font-size: 1.6rem;
  color: #555;
  text-align: center;
}
.asso-img{
  width: 27%;
  margin: auto;
  padding-bottom: 20px;
}
.partner-btn{
  border: 1px solid;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ef4136;
    color: #ffffff;
    margin-left: 10px;
}
.partner-btn:hover{
  border: 1px solid;
    padding: 7px 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ffffff;
    font-weight: 600;
    color: #000;
}

@media (max-width: 1024px) {
  .associates-container {
      flex-wrap: wrap;
      justify-content: center;
  }
  .associate-box {
      width: 45%;
  }
}

@media (max-width: 768px) {
  .mainHeading {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
  .custom-two-column-container{
    flex-direction: column;
  }
  .container {
    padding: 2rem;
  }
  .associate-box {
    width: 100%;
}
}
.ant-modal-footer{
  display: none;
}