/* @import "../../../styles/globalSass/variable.scss"; */
@import "../../styles/globalSass/variable.scss";
.partner {
  background-color: #ffffff;
}
.container {
  max-width: 800px;
  margin: 5px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}
.mainHeading {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #000000;
  font-family: "Poppins-Bold";
}
h1 {
  color: #007bff;
  text-align: center;
}

p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.cta {
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}

.cta span {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #ef4136;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid;
}
.cta span:hover{
  background-color: #fff;
  color:#000;
  border: 1px solid;
}

.cta a:hover {
  background-color: #ffffff;
  color: #000000;
}

.contact {
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
}

.contact span {
  color: #ef4136;
  font-weight: bold;
}

@media (max-width: 768px) {
  .mainHeading {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
}
