@import '../../styles/globalSass/variable.scss';
.section{
  padding: 2rem 8rem;
  margin: 8rem 0rem;
  background-color: $clr-primary;
  .mainHeading {
    font-size: 4rem;
    margin-bottom: 4rem;
    color: $clr-base;
    font-family: $font-bold
  }

  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap:6rem;
    color:$clr-root;
    @media (max-width: 768px) {
      flex-direction: column;
      gap:0rem;
    }
  }

  .column {
    flex: 1;
    padding: 10px;

    &:first-of-type {
      text-align: left;

      @media (max-width: 768px) {
        padding-right: 0;
        padding-bottom: 20px;
      }
    }

    &:last-of-type {
      text-align: center;
    }
  }

  .description {
    p {
      margin: 0 0 6rem;
      text-align: justify;
      @media (max-width: 768px) {
        margin: 0 0 2rem;
      }
    }

    .readMoreButton {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .image {
    width: 100%;
    height: auto;

    @media (max-width: 768px) {
      order: -1;
    }
  }
  .form {
    // display: flex;
    // flex-direction: column;
    background-color: $clr-root;  // Set the form background to white
    padding: 2rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);  // Optional: Add shadow for depth

    .heading{
      font-size: 2rem;
      color:$clr-base;
      text-align: left;
      margin-left: 1rem;
      margin-bottom: 1rem;
      font-family: $font-semiBold;
    }
    .formGroup {
      margin-bottom: 2.5rem;
      
      input,
      textarea {
        padding: 1.2rem;
        font-size: 1.2rem;
        width: 100%;
        background-color: #F1F1F1;  // Set input field background to grey
        color: #727272;  // Set text color to dark grey
      }

      textarea {
        resize: vertical;  // Allow textarea to be resized vertically only
      }
    }
    .formGroupNew{
      width: 46%;
      float: left;
      margin-left: 1rem;
      margin-right: 1rem;
      &:last-of-type{
        width:96%;
      }
    }

    .submitButton {
      padding: 1.2rem;
      font-size: 1.4rem;    
      background-color: $clr-secondary;
      color: $clr-root;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-bottom: 2rem;
      display: block;
      width:96%;
      margin-left: 1rem;
      margin-right: 1rem;

      &:hover {
        background-color: $clr-primary;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}