.sliderContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiperSlide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiperImage{
  width:20rem;
}

.testimonial {
  width: 23rem;
  background-color: #ffffff;
  padding: 1.8rem;
  text-align: center;
  height: 10rem;
  object-fit: cover;
  border: 1px solid #dddddd;
  display: flex;
}

.feedback {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.client {
  font-weight: bold;
  margin-top: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000; /* Customize arrow colors */
}
