@import '../../styles/globalSass/variable.scss';

.section {
  padding: 8rem 8rem;
  margin: 8rem 0rem 0rem 0rem;
  background-color: #cccccc; 
  @media (max-width: 768px) {
    padding: 2rem 2rem;
    margin: 2rem 0rem 0rem 0rem;
  }
  .mainHeading{
    font-size: 4rem;
    margin-bottom: 8rem;
    color:$clr-base;
    font-family: $font-bold;
    @media (max-width: 768px) {
      font-size: 2.4rem;
      margin-bottom: 2rem;
    }
  }
  .backlet {
    display: flex;
    flex-wrap: wrap;
    padding-top: 7rem;
    @media (max-width: 768px) {
      padding-top: 0rem;
    }
    .column1 {
      flex: 1;
      padding: 7rem 0rem 7rem 4rem;
      color: #000; /* Black text color for the heading section */
      @media (max-width: 768px) {
        padding: 3rem 0rem;
      }
      .headingContainer {
        display: flex;
        flex-wrap: wrap;
        // gap: 10px;
  
        .headingItem {
          flex: 1 1 30%; /* Each heading takes up about 30% of the width, with gaps */
          margin-bottom: 0px;
          text-align: left;
          padding: 4rem 3rem 4rem 3rem;
          width: 33.33%;
          @media (max-width: 768px) {
            padding: 2rem;
          }
          .heading {
            display: inline;
            font-size: 2rem;
            font-family: $font-medium;
            text-transform: capitalize;
            @media (max-width: 768px) {
              font-size: 1.4rem;
            }
          }
          &::first-letter {
            color: $clr-secondary;
            font-size: 2.6rem; /* Larger font size for the first letter */
            font-weight: bold; /* Make the first letter bold */
            @media (max-width: 768px) {
              font-size: 2.2rem;
            }
          }
          &:nth-child(1),
          &:nth-child(2) {
            border-right: 0.3rem dashed grey;
            border-bottom: 0.3rem dashed grey;
          }
          &:nth-child(3) {
            border-bottom: 0.3rem dashed grey;
          }
          &:nth-child(4),
          &:nth-child(5) {
            border-right: 0.3rem dashed grey;
          }
          &:nth-child(1),
          &:nth-child(4){
            padding-left: 0rem;
          }
        }
      }
    }
  
    .column2 {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      h3 {
        color: #fff; /* White text color for the heading */
        margin-bottom: 10px;
      }
  
      img {
        max-width: 100%;
        height: auto;
      }
      .trackimg{
        position: absolute;
        top: 0;
        right: 0;
        padding-bottom: 3rem;
        @media (max-width: 768px) {
          position: relative;
        }
      }
    }
  
    @media (max-width: 768px) {
      flex-direction: column;
  
      .column1, .column2 {
        width: 100%;
      }
  
      .column2 {
        order: -1; /* Display image section first on mobile */
      }
  
      .headingContainer {
        .headingItem {
          flex: 1 1 100%; /* Full width for each heading item on small screens */
          text-align: left;
        }
      }
    }
    .sectionHeading{
      font-size: 4rem;
      color: $clr-base;
      margin: 5rem 0rem;
      display: block;
    }
  }
}

