.custom-section {
    display: flex;
        justify-content: center;
        max-width: 100%;
        margin: auto;
        padding: 0px 60px 60px;
}

.custom-image-wrapper {
    flex: 25%;
    padding: 10px;
}
.team-padding{
    padding: 60px 60px 0px;
}

.custom-image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.custom-text-wrapper {
    flex: 75%;
    padding: 10px 20px;
}

.custom-text-wrapper h2 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: 800;
}

.custom-text-wrapper h3 {
    font-size: 24px;
    color: #555;
    margin-bottom: 15px;
    text-align: left;
    font-weight: 600;
}

.custom-text-wrapper p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}
.mainHeadingSec{
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
    font-family: "Poppins-Bold";
}
/* Responsive Design */
@media (max-width: 768px) {
    .custom-section {
        flex-direction: column;
        text-align: center;
    }

    .custom-image-wrapper, .custom-text-wrapper {
        flex: 100%;
        padding: 10px;
    }
    .team-padding {
        padding: 20px 20px 0px;
    }
    .custom-section {
        display: flex
    ;
        justify-content: center;
        max-width: 100%;
        margin: auto;
        padding: 0px 20px 0px;
    }
    .mainHeadingSec{
        font-size: 2.4rem;
    }
}