@import "../../styles/globalSass/variable.scss";
.doodle {
  position: relative;
  min-height: 475px;
  .share {
    position: fixed;
    right: 24px;
    bottom: 64px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: #042f7c;
    padding: 12px;
    cursor: pointer;
    z-index: 999999;
  }
  .shareItems {
    position: fixed;
    right: 24px;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    cursor: pointer;
    flex-direction: column;
    z-index: 10;
    bottom: 125px;
  }
}
.pageHeading {
  font-size: 4rem;
  background-color: #042f7c;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.subContainer {
  position: absolute;
  background: transparent;
  display: flex;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 6%;
  font-family: $font-medium;
}

.mojo {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  font-family: $font-regular;
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.theme {
  margin-top: 16rem;
  margin-left: -16rem;
  @media (max-width: 769px) {
    margin-top: 5rem;
    margin-left: 0;
  }
  span {
    cursor: pointer;
  }
}

.calculator {
  width: 40%;
  margin: auto;
}

.trackInfo {
  padding: 1% 6%;
}

.services {
  display: flex;
  gap: 24px;

  .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;

    .text {
      font-size: 1.6rem;
      line-height: 2.2rem;
      font-family: $font-regular;
      color: #000000;
      height: 70px;
    }

    .image {
      position: relative;
      cursor: pointer;
      img {
        height: 30rem;
        object-fit: cover;
      }

      .tag {
        background: #042f7c;
        height: 47px;
        opacity: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      p {
        color: white;
      }
    }
    .button {
      width: 109px;
      height: 33px;
      border-radius: 5px;
      border: 1px solid #4a4a4a;
      opacity: 0px;
      background: #ffffff;
      padding: 6px;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: #ff3300;
        color: #ffffff;
      }
    }
  }
}

.heading {
  font-family: $font-regular;
  font-size: 35px;
  font-weight: 600;
  line-height: 52.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #042f7c;
}

.application {
  background: linear-gradient(
    180deg,
    rgba(241, 241, 241, 0) 0%,
    rgba(241, 241, 241, 0.435069) 40.27%,
    #f1f1f1 74.51%
  );
  height: 1000px;
  width: 100%;
}

.matrix {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 24px;

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .icon {
      height: 86px;
      width: 86px;
    }

    .number {
      font-family: $font-regular;
      font-size: 50px;
      font-weight: 700;
      line-height: 75px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #042f7c;
    }

    .text {
      font-family: $font-regular;
      font-size: 22px;
      font-weight: 500;
      line-height: 33px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }
}

.about {
  display: flex;
  width: 100%;
  margin-top: 24px;
  gap: 36px;

  .info {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 36px;

    .text {
      font-family: $font-regular;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: justified;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
    .button {
      width: 109px;
      height: 33px;
      border: 1px solid #4a4a4a;
      opacity: 0px;
      background: #ffffff;
      padding: 6px;
      text-align: center;
      cursor: pointer;
    }
  }
  .icon {
    width: 50%;
    height: 450px;

    img {
      height: inherit;
    }
  }
}
.serviceMobHeading {
  font-size: 4rem;
  color: #000000;
  font-family: "Poppins-Bold";
}

@media only screen and (max-width: 768px) {
  .subContainer {
    position: absolute;
    background: transparent;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 6%;
    font-family: $font-medium;
    flex-direction: column;
  }
  .mojo {
    width: 100%;
  }
  .calculator {
    width: 100%;
    margin: auto;
  }
  .services {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }
  .serviceMobHeading {
    font-size: 2.5rem;
    color: #000000;
    font-family: "Poppins-Bold";
  }
  .doodle {
    .share {
      bottom: 0;
    }
    .shareItems {
      right: 84px;
      bottom: 0;
      flex-direction: row;
    }
  }
}
