@import "../../styles/globalSass/variable.scss";

.resourceSection {
  width: 100%;
  .breadcrumbDiv {
    background-color: #f0f5fa;
    width: 100%;
    padding: 1rem;

    .breadcrumb {
      font-size: 2.5rem;
      color: rgb(4, 107, 210);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
    }
  }
  .resources {
    padding: 1rem;
    .heading {
      width: 100%;
      font-size: 3.25rem;
      text-align: left;
      padding: 1rem;
    }
  }
  .allResources {
    padding: 2rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 3rem;
    max-width: 1200px;
    margin: auto;
  }
}
