.blog-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 3rem 9rem;
}
.blogs-content h3 {
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 10px;
  font-weight: 600;
  margin-top: 10px;
  text-align: left;
}
.blogs-content p {
  text-align: left;
  min-height: 100px;
}
.blogs-content .btn:hover {
  background-color: #ffffff;
    color: #000;
    border: 1px solid;
}
.cta span:hover {
  background-color: #093966;
}
.blog-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.blog-card img {
  width: 100%;
  height: 241px;
}
.blog-content {
  padding: 10px;
  background-color: #ef4136;
  color: #fff;
  text-decoration: none;
  border-radius: 0px 0px 5px 0px;
  cursor: pointer;
  font-size: 2rem;
}
.blogs-content {
  padding: 15px;
  background: #ffffff;
}
.blog-content h3 {
  margin: 0 0 10px;
  color: #333;
  font-size: 3rem;
  font-weight: 600;
}
.blog-content p {
  margin: 0 0 15px;
  color: #666;
  line-height: 2.5rem;
  font-size: 1.6rem;
}
.blog-content .btn {
  display: block;
  padding: 7px 15px;
  background-color: #ef4136;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  width: 109px;
  height: 35px;
  border: 1px solid;
}
.blogs-content .btn {
  display: block;
  padding: 7px 15px;
  background-color: #ef4136;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  width: 109px;
  height: 35px;
  border: 1px solid;
}
.blog-content .btn:hover {
  background-color: #093966;
}

.blog-content:hover {
  background-color: #093966;
}
.ant-collapse-header {
  align-items: center !important;
}
@media (max-width: 768px) {
  .blog-section {
    grid-template-columns: none;
    padding: 2rem !important;
  }
}