@import '../../styles/globalSass/variable.scss';

.section {
  padding: 0rem 8rem;
  margin: 8rem 0rem;
  @media (max-width: 768px) {
    padding: 2rem 2rem;
    margin: 2rem 0rem 0rem 0rem;
  }
  .mainHeading{
    font-size: 4rem;
    margin-bottom: 4rem;
    color:$clr-base;
    font-family: $font-bold;
    @media (max-width: 768px) {
      font-size: 2.4rem;
      margin-bottom: 2rem;
    }
  }
  .sliderContainer{
    width: 60%;
    margin: 0 auto;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .slide {
    text-align: center;
    padding: 20px;
  }

  .avatarContainer {
    margin: 0 auto 20px auto;
    width: 100px;
    height: 100px;
  }

  .avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2px;
    border: 1px solid #000000;
  }

  .heading {
    font-size: 1.2rem;
    margin: 10px 0 5px 0;
    font-weight: bold;
  }

  .title {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #666;
  }

  .desc {
    font-family: $font-regular;
  }
  .swiper-button-lock {
    display: block;
  }
}
.sectionbg{
  .bgImg{
    position: relative;
    .imageWrap{
      margin-top: -12rem;
      .imageBg{
        width: 100%;
      }
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}
