@import '../../styles/globalSass/variable.scss';

.section{
  padding: 4rem 8rem 3rem 8rem;
  @media (max-width: 768px) {
    padding: 2rem 2rem 2rem 2rem;
    margin: 2rem 0rem 0rem 0rem;
  }
  .mainHeading {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: $clr-base;
    font-family: $font-bold;
    text-align: left;
    @media (max-width: 768px) {
      font-size: 2.4rem;
      margin-bottom: 0.25rem;
    }
  }
  .description {
    h1{
      text-align: left;
    }
    p {
      margin: 0 0 2rem;
      text-align: justify;
      font-size: 1.6rem;
      @media (max-width: 768px) {
        margin: 0 0 2rem;
      }
    }
  }
}